@import "tailwindcss";

@plugin "daisyui";
@plugin "daisyui/theme" {
  themes:light --default, dark --prefersdark;
  --color-primary: oklch(29% 0.155 240);
  --color-secondary: oklch(24% 0.024 24);
}

